@import "fonts.css";
@import "mobile.css";
@import "dark.css";
@import "light.css";
@import "references.css";
@import "tree.css";
@import "pinned.css";
@import "icons.css";

:root {
  --body-font: "Degular Text";
  --header-font: "Redaction 35";
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body > header {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header > a {
  text-decoration: none;
}

header > a > h1 {
  font-size: 0.75rem;
  line-height: 3rem;
  margin: 0;
  margin-bottom: -0.5rem;
  font-family: var(--body-font);
  font-weight: normal;
}

header > div {
  margin: 0;
  padding: 0;
}

header > div > a {
  color: var(--link-color);
  font-family: var(--body-font);
  font-size: 15px;
  margin-left: 20px;
  text-decoration: none;
}

a {
  color: var(--link-color);
}

pre {
  background: var(--code-block-bg);
  padding: 15px;
}

code {
  background: var(--code-block-bg);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
  font-family: var(--body-font);
}

h1 {
  font-size: 2.142rem;
  line-height: 2.8rem;
  margin-top: 1.5rem;
  font-family: var(--header-font);
  font-weight: 900;
}

h2 {
  font-size: 1.828rem;
  line-height: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

body > header,
article,
.references,
.main {
  max-width: 70ch;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  margin: 20px auto;
  image-rendering: crisp-edges; 
}

p,
li {
  font-family: var(--body-font);
  line-height: 1.6rem;
}

ul {
  margin-left: -1.5rem;
}

ul > li {
  list-style: none;
  line-height: 1.6rem;
  margin: 20px 0px;
}

ul > li > ul {
  margin: 20px 0px;
}

ul > li > ul > li {
  line-height: 1.6rem;
  margin-top: 20px;
  list-style: none;
}

footer {
  border-top: 1px solid var(--divider-color);
  margin: 70px auto;
  padding: 20px 5px 40px 0px;
  font-size: 14px;
  font-family: var(--body-font);
  text-align: right;
  width: 94ch;
  display:  flex;
  text-align: left;
  justify-content:  flex-end;
}

footer > a {
  margin-left: 20px;
}

iframe,
.gist {
  filter: grayscale(1);
}

hr {
  background: var(--divider-color);
  height: 1px;
  border: 0px;
}

.last-updated {
  font-size: 70%;
  margin-bottom: 3ch;
}

.draft > p {
  border: 1px solid var(--divider-color);
  padding: 10px;
  opacity: 0.8;
  font-size: 80%;
}

code {
  white-space : pre-wrap !important;
}

li:first-of-type {
  border: 10px !important;
}

@media only screen and (max-width: 600px) {
  section {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
